<div class="panel panel-primary">
  <div class="panel-heading">サインインできませんでした</div>
  <div class="panel-body">
    <%= params[:message] %>
  </div>
  <div class="panel-footer">
<%= Time.now.to_s %>
  </div>
</div>
